html {
  background-color: rgb(43, 55, 107);
}

ul {
  display: flex;
  flex-wrap: wrap;
  width: 60vw;
}

li {
  background-color: grey;
  border: 10px;
  border-color: black;
  margin: 10px;
  width: 30%;
  list-style: none;
}

li:hover {
  cursor: pointer;
}